{
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "none",
    "singleQuote": true,
    "semi": false,
    "arrowParens": "avoid",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "/hooks/",
        "/ui/",
        "/screens/",
        "/components/",
        "^../(.*)",
        "^./(.*)"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}