@import "src/assets/styles/variables";

.input {
	background-color: $colorAccentDark;
	border: 1px solid transparent;
	color: $colorWhite;
	font-size: 16px;
	padding: 14px;
	border-radius: 10px;
	margin-bottom: 0.7rem;
	width: 100%;

	&:focus {
		border-color: rgba($colorAccent, 0.3);
	}

	&::placeholder {
		color: #946e86;
	}
}
