@import "./variables";

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;

	background: #1b1b1b;
	font-family: $default-font;
	color: $colorWhite;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-style: 18px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

/* Links */
a,
a:link,
a:visited {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

h1 {
	font-size: 48px;
}

@media (max-width: 1166px) {
	h1 {
		font-size: 36px;
	}
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
	display: block;
}

textarea {
	resize: none;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* -------------------- Default -------------------- */

#root {
	height: 100%;
}

/* -------------------- /Default -------------------- */

.error {
	color: rgb(235, 62, 62);
	font-size: 0.8rem;
	margin-top: 0.2rem;
}

.wrapper-inner-page {
	padding: 40px 30px;
	text-align: center;
	max-width: 560px;
	width: 100%;
	margin: 0 auto;
}

.select2-selection {
	&__control {
		cursor: pointer !important;
		margin-bottom: 2rem;
		border-radius: 10px !important;
		min-height: 48px !important;
		background-color: $colorAccentDark !important;
		border: 1px solid transparent !important;
		color: $colorWhite;
		font-size: 18px;
		width: 100%;
		&--is-focused {
			border-color: transparent !important;
			box-shadow: 0 0 0 1px rgba($colorAccent, 0.3) !important;
		}
	}

	&__menu {
		background-color: $colorAccentDark !important;
		border-radius: 10px !important;

		&-list {
			padding: 0 !important;
			border-radius: 10px !important;
		}

		&-notice {
			color: #946e86 !important;
		}
	}

	&__option {
		&--is-focused {
			background-color: darken($colorAccentDark, 7%) !important;
		}
		&--is-selected {
			background-color: darken($colorAccentDark, 8%) !important;
		}
	}

	&__indicator,
	&__indicator:hover {
		color: $colorWhite !important;
	}

	&__placeholder {
		color: #946e86 !important;
		margin-left: 6px !important;
		text-align: left;
	}

	&__single-value {
		color: $colorWhite !important;
	}

	&__multi-value {
		border-radius: 6px !important;
		background-color: lighten($colorAccentDark, 10%) !important;

		&__label {
			color: $colorWhite !important;
		}

		&__remove:hover {
			background-color: #8b2557 !important;
			color: $colorWhite !important;
		}
	}

	&__input {
		color: $colorWhite !important;
	}
}
